.note-window{
  height: 100%;
  padding: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
   padding-bottom: 5rem;

  pre{
    background-color: transparent !important;
    white-space: pre-wrap !important;  
    word-break: break-word !important;
  }

}